{% block form_row %}
    {% spaceless %}
        <div class="field">
            <label>
                {{ form_label(form)}}
                {% if form_help(form) %}
                <i class="small circular help icon link" data-content="{{ form_help(form)|striptags }}" data-variation="wide" data-position="right center"></i>
                {% endif %}
            </label>
            <div class="ui error message">
                <p>{{ form_errors(form) }}</p>
            </div>
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}