<div class="animated-header" style="background-image: url('{{ banner }}')">
    <div class="sides">
        {% if sideLeft.url %}
        <a href="{{ sideLeft.url }}" class="ui left floated teal button">
            <i class="{{ sideLeft.icon }} icon"></i>
            {{ sideLeft.text }}
        </a>
        {% endif %}
    </div>
    <div class="sides">
        {% if sideRight.url %}
            <a href="{{ sideRight.url }}" class="ui right floated teal button">
                <i class="{{ sideRight.icon }} icon"></i>
                {{ sideRight.text }}
            </a>
        {% endif %}
    </div>
    <div class="info">
        <h4><i class="bordered teal address card icon"></i></h4>
        <h1>
            {{ title }}
        </h1>
        <div class="meta">
        </div>
    </div>
</div>