<div id="floating-menu">
    <a  class="ui vertical circular animated inverted button" tabindex="0">
        <div class="hidden content">Menu</div>
        <div class="visible content">
            <i class="large compass icon"></i>
        </div>
    </a>
</div>