<div id="main-navigation" class="ui stackable inverted fixed menu">
    <div class="item">
        <a id='trigger-main-menu' href="#" class="ui header">
            <i class="large icons">
                <i class="id card icon"></i>
                <i class="inverted corner bolt icon"></i>
            </i>
            Pipel
        </a>
    </div>
    <div class="ui dropdown item">
        Address Books
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">Add book</a>
            <div class="divider"></div>
            <a class="item">Statistics</a>
            <a class="item">Export</a>
        </div>
    </div>
    <div class="ui dropdown item">
        Contacts
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">Add contact</a>
            <div class="divider"></div>
            <a class="item">Statistics</a>
            <a class="item">Export</a>
        </div>
    </div>
    <a id="nav-contacts" class="browse item">
        Contacts
    </a>
    <div class="ui fluid popup bottom left transition hidden" style="top: 253px; width: 360px;">
        <div class="ui four column relaxed divided grid">
            <div class="column">
                <h4 class="ui header">Fabrics</h4>
                <div class="ui link list">
                    <a class="item">Cashmere</a>
                    <a class="item">Linen</a>
                    <a class="item">Cotton</a>
                    <a class="item">Viscose</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui header">Size</h4>
                <div class="ui link list">
                    <a class="item">Small</a>
                    <a class="item">Medium</a>
                    <a class="item">Large</a>
                    <a class="item">Plus Sizes</a>
                </div>
            </div>
        </div>
    </div>    <a class="item">Testimonials</a>
    <a class="item ">Sign-in</a>
    <div class="right menu">
        <a id="trigger-search" class="item" data-transition="overlay">
            <i class="search icon"></i>
            Search
        </a>
    </div>
</div>