<div id="pagination" class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
        <div class="ui buttons">
            <a href="{{ path(url, {'page':  1}) }}" class="ui {% if page == 1 %}disabled{% endif %} icon button">
                <i class="angle double left icon"></i>
            </a>
            <a href="{{ path(url, {'page': (page - 1)}) }}" class="ui {% if page == 1 %}disabled{% endif %} icon button">
                <i class="angle left icon"></i>
            </a>
            {% for i in 1..pagination %}
                <a href="{{ path(url, {'page': i}) }}" class="ui {% if page == i %}disabled{% endif %} button">{{ i }}</a>
            {% endfor %}
            <a href="{{ path(url, {'page': (page + 1)}) }}" class="ui {% if page == pagination %}disabled{% endif %} icon button">
                <i class="angle right icon"></i>
            </a>
            <a href="{{ path(url, {'page': pagination}) }}" class="ui {% if page == pagination %}disabled{% endif %} icon button">
                <i class="angle double right icon"></i>
            </a>
        </div>
    </div>
</div>
