<div class="col-md-4" style="height:85vh; overflow-y: scroll;">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="panel panel-danger">
        <div class="panel-heading">Me</div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center"></th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-md-2"> <img src="{{ asset('avatars/me.jpg') }}" class="img-circle img-responsive"></td>
                <td>Cameron Johnsen</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">Everybody</div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center"></th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-md-2"> <img src="{{ asset('avatars/1.jpg') }}" class="img-circle img-responsive"></td>
                <td>Michele W. Carpenter</td>
            </tr>
            <tr>
                <td class="col-md-2"> <img src="{{ asset('avatars/2.jpg') }}" class="img-circle img-responsive"></td>
                <td>Lynn R. Mason</td>
            </tr>
            <tr>
                <td class="col-md-2"> <img src="{{ asset('avatars/3.jpg') }}" class="img-circle img-responsive"></td>
                <td>Kennith B. Bogart</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>