{% extends 'base.html.twig' %}

{% block body %}
<div id="pipel" class="main">
    <div id="group-div"></div>
    <div id="contact-div"></div>
    <div id="person-div"></div>
    <div id="addpipel-div"></div>
    <div id="settings-div"></div>
</div>
{% endblock %}
