.navbar,
.panel.panel-warning > .panel-heading,
.panel.panel-danger > .panel-heading{
    background-color: rgba(67, 151, 117,1) !important;
}

.btn {
    background-color: rgba(42, 71, 71, 1) !important;
}

.label {
    color: #FFFFFF;
    background: rgba(175, 145, 100,1) !important;
}
.fa-inverse{
    color:  rgba(71, 68, 72,1) !important;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    border-color: rgba(72, 191, 132, 1);
}

.list-group-item.active {
    background-color: rgba(72, 191, 132, 1);
}
.list-group-item:hover,
.list-group-item.active:hover{
    background-color: rgba( 97, 208, 149,1)s;
}
.list-group-item.active:focus{
    background-color: rgba(72, 191, 132, 1);
}

a, a:hover, a:focus {
    color: rgba(83, 62, 45,1) !important;
    font-weight: bold;
}


body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.navbar .navbar-brand {
    padding: 0 15px;
}

.navbar .btn {
    margin-left: 10px
}

tr:hover{
    text-decoration: none;
    color: #000;
    background-color: rgba( 206, 207, 209, 0.7 );
    cursor:pointer;
}