<div id="search-sidebar" class="ui right wide sidebar inverted vertical menu">
    <div class="item">
        <h2 class="ui center aligned icon header">
            <i class="searchengin icon"></i>
            <div class="content">
                Search
                <div class="sub header">Search for persons, groups ect.</div>
            </div>
        </h2>
    </div>
</div>