{% trans_default_domain 'sidebar' %}
<div id="main-sidebar" class="ui inverted left wide sidebar vertical menu main-menu">
    <div class="item">
        <div id="person-cards" class="ui special scale cards">
            <div class="ui border-primary special raised fluid card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <a href="{{ default_avatar }}"
                                   class="ui animated basic inverted  button" tabindex="0" data-lity
                                   data-lity-desc="Photo of a flower">
                                    <div class="visible content">{% trans %} Avatar {% endtrans %}</div>
                                    <div class="hidden content">
                                        <i class="zoom-in icon"></i>
                                    </div>
                                </a>
                                <a href="#{{ user.id }}-view" data-lity
                                   class="ui animated basic inverted  button" tabindex="0">
                                    <div class="visible content">{% trans %} View {% endtrans %}</div>
                                    <div class="hidden content">
                                        <i class="right arrow icon"></i>
                                    </div>
                                </a>
                                <a href="#{{ user.id }}-edit" data-lity
                                   class="ui animated basic inverted  button" tabindex="0">
                                    <div class="visible content">{% trans %} Edit {% endtrans %}</div>
                                    <div class="hidden content">
                                        <i class="edit icon"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img src="{{ default_avatar }}">
                </div>
                <div class="ui btn-primary bottom right attached label">{{ user.userName }}</div>
            </div>
        </div>
    </div>
    <a href="{{ path('setting_index') }}" class="item">
        <i class="cogs icon"></i>
        {% trans %}Settings{% endtrans %}
    </a>
    <a href="{{ path('app_logout') }}" class="item">
        <i class="hand scissors outline icon"></i>
        {% trans %}Logout{% endtrans %}
    </a>
</div>
