@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

@import "theme";
@import "typography";
@import "navigation";
@import "sidebar";
@import "body";
@import "card";
@import "lity";
@import "pagination";


body,
body.pushable > .pusher{
  background-color: lightgray;
}

.main-container {
  width: 85% !important;
}

.ui.inverted.menu {
  border: 0 solid transparent;
  background: rgba(50, 50, 50, 1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.primary-color {
  background-color: rgba(83, 96, 105, 1) !important;
  color: white;
}

.primary-color:hover {
  background-color: rgba(69, 82, 90, 1) !important;
  color: white;
}

.animated-header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:350px;
  min-width:300px;
  color:#eee;

  background:#1B2030 url('/build/images/BannerSilhouette.jpg') top center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  transition:all 0.2s ease-in-out;

}
.animated-header:after{
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.animated-header:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  z-index:-2;
  animation: grow 60s  linear 10ms infinite;

}
//.ui.sidebar {
//  overflow: auto !important;
//
//  .ui.menu .right.dropdown.item .menu {
//
//  }
//}

.animated-header a{
  color:#eee;

  .menu{
  display:block;
  width:30px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
  .menu:after{
    content:"";
    display:block;
    width:20px;
    height:3px;
    background:#fff;
    position:absolute;
    margin:0 auto;
    top:5px;
    left:0;
    right:0;
    box-shadow:0 8px, 0 16px
  }
}

.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  margin:20px;
  padding:5px 10px;
  font-weight:600;
  font-size:1.2em;
  box-sizing:border-box
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:10% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
.animated-header .content{
  padding:5% 10%;
  text-align:justify
}

.header-button {
  padding: 0 !important;
  text-align: left !important;
}

.profile-socials {
  margin-top: -10% !important;
}
.fluid-container,
.profile-left {
  margin-top: -5%;
}

.profile-right {
  margin-top: 1%;
}


body.security-body {
  overflow: hidden;
  height:100vh;
}

.fork-label {
  padding-top: 3px !important;
}

.login-left,
.login-right {
  height:100vh;
  padding: 0 !important;
}

.login-left {
  background: url("/build/images/login-bg.jpg") center center;
  background-size: cover;
}

.login-right .segment {
  height: 100vh;
}

.login-form {
  padding-top: 35vh;
}

.credits {
  width: 100%;
  color: white;
  background: rgba(50, 50, 50, 1);
  position: fixed;
  bottom: 0;
}

.credits .header {
  color: white;
}

.main-menu a{
  transition: .3s all;
}

span.first-letter {
  color: #00B5AD;
  text-transform: uppercase;
}

.option-row {
  margin: 15px 0 15px 0;
}

#example1 {
  position: fixed;
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1000;
}

#floating-menu {
  position: fixed;
  top: 330px;
  right:1%;

  #fl-main-menu {
    border-radius: 80px;
  }
}