@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");
.btn-primary {
  background: #524138 !important;
  border-radius: 0 !important;
  border: 1px solid #2b1710 !important;
  color: #a19992 !important; }

.btn-third {
  background: #65584d !important;
  border-radius: 0 !important;
  border: 1px solid #524138 !important;
  color: #a19992 !important; }

.border-primary {
  border: 1px solid #2b1710 !important; }

.primary-color {
  color: #524138 !important; }

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #a19992 !important; }
body a {
  color: #a19992; }

#main-navigation {
  margin: 0;
  border-radius: 0;
  background: rgba(43, 23, 16, 0.8); }
  #main-navigation a {
    color: #a19992; }

.ui.sidebar {
  background: rgba(43, 23, 16, 0.8) !important;
  color: #a19992 !important; }
  .ui.sidebar .sub.header {
    color: #a19992 !important; }

body {
  background: #a19992 !important; }

.main-segment .segment:first-child {
  min-height: 700px;
  background: #f1f2f6 !important; }

.ui.dimmer {
  background: rgba(43, 23, 16, 0.8) !important; }

#person-cards .card {
  display: none; }

.lity {
  background: rgba(43, 23, 16, 0.8); }

.lity-modal div.segments:first-child {
  margin-bottom: 0; }
.lity-modal div.segments:nth-child(2) {
  margin-top: 0;
  padding: 10px; }

#pagination .ui.button {
  background: #524138 !important;
  border: 1px solid #2b1710;
  color: #a19992 !important; }
  #pagination .ui.button:hover {
    background: #2b1710 !important;
    color: #a19992 !important; }

body,
body.pushable > .pusher {
  background-color: lightgray; }

.main-container {
  width: 85% !important; }

.ui.inverted.menu {
  border: 0 solid transparent;
  background: #323232;
  -webkit-box-shadow: none;
  box-shadow: none; }

.primary-color {
  background-color: #536069 !important;
  color: white; }

.primary-color:hover {
  background-color: #45525a !important;
  color: white; }

.animated-header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 50vw;
  min-height: 400px;
  max-height: 350px;
  min-width: 300px;
  color: #eee;
  background: #1B2030 url("/build/images/BannerSilhouette.jpg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.2s ease-in-out; }

.animated-header:after {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, transparent 0%, #1b2030 100%); }

.animated-header:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  z-index: -2;
  animation: grow 60s  linear 10ms infinite; }

.animated-header a {
  color: #eee; }
  .animated-header a .menu {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none; }
  .animated-header a .menu:after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    margin: 0 auto;
    top: 5px;
    left: 0;
    right: 0;
    box-shadow: 0 8px, 0 16px; }

.logo {
  border: 2px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 1.2em;
  box-sizing: border-box; }

.sides, .info {
  flex: 0 0 auto;
  width: 50%; }

.info {
  width: 100%;
  padding: 10% 10% 0 10%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.author {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 3px; }

.info h4, .meta {
  font-size: 0.7em; }

.meta {
  font-style: italic; }

@keyframes grow {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }
.animated-header .content {
  padding: 5% 10%;
  text-align: justify; }

.header-button {
  padding: 0 !important;
  text-align: left !important; }

.profile-socials {
  margin-top: -10% !important; }

.fluid-container,
.profile-left {
  margin-top: -5%; }

.profile-right {
  margin-top: 1%; }

body.security-body {
  overflow: hidden;
  height: 100vh; }

.fork-label {
  padding-top: 3px !important; }

.login-left,
.login-right {
  height: 100vh;
  padding: 0 !important; }

.login-left {
  background: url("/build/images/login-bg.jpg") center center;
  background-size: cover; }

.login-right .segment {
  height: 100vh; }

.login-form {
  padding-top: 35vh; }

.credits {
  width: 100%;
  color: white;
  background: #323232;
  position: fixed;
  bottom: 0; }

.credits .header {
  color: white; }

.main-menu a {
  transition: .3s all; }

span.first-letter {
  color: #00B5AD;
  text-transform: uppercase; }

.option-row {
  margin: 15px 0 15px 0; }

#example1 {
  position: fixed;
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1000; }

#floating-menu {
  position: fixed;
  top: 330px;
  right: 1%; }
  #floating-menu #fl-main-menu {
    border-radius: 80px; }

/*# sourceMappingURL=app.css.map */
