.lity {
  background: $secondary-color-trans;
}

.lity-modal {

  div.segments{

    &:first-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      margin-top: 0;
      padding:10px;
    }
  }
}
