#pagination {
  .ui.button{
      background: $primary-color !important;
    border: 1px solid $secondary-color;
      color: $fifth-color !important;
    &:hover {
      background: $secondary-color !important;
      color: $fifth-color !important;
    }
  }
}