$primary-color: rgba(82, 65, 56, 1);
$secondary-color: rgba(43, 23, 16, 1);
$secondary-color-trans: rgba(43, 23, 16, .8);
$third-color: rgba(101, 88, 77, 1);
$fourth-color: rgba(137, 115, 106, 1);
$fifth-color: rgba(161, 153, 146, 1);
$white: rgba(241, 242, 246, 1);


.btn-primary {
  background: $primary-color !important;
  border-radius: 0 !important;
  border: 1px solid $secondary-color !important;
  color: $fifth-color !important;
}

.btn-third {
  background: $third-color !important;
  border-radius: 0 !important;
  border: 1px solid $primary-color !important;
  color: $fifth-color !important;
}

.border-primary {
  border: 1px solid $secondary-color !important;
}

.primary-color {
  color: $primary-color !important;
}

