<div class="row">
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui segment">
                <h2 class="ui centered aligned header">{{ title|trans }}</h2>
                {% if persons %}
                    <div class="ui four stackable fluid raised special cards">
                        {% for person in persons %}
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <a  href="{{ path('person_show', {'id': person.id}) }}"
                                                    class="ui animated basic inverted  button" tabindex="0">
                                                    <div class="visible content">{% trans %} View {% endtrans %}</div>
                                                    <div class="hidden content">
                                                        <i class="right arrow icon"></i>
                                                    </div>
                                                </a>
                                                <a href="{{ path('person_edit', {'id': person.id}) }}"
                                                    class="ui animated basic inverted  button" tabindex="0">
                                                    <div class="visible content">{% trans %} Edit {% endtrans %}</div>
                                                    <div class="hidden content">
                                                        <i class="edit icon"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{ "/build/images/persons/#{person.slug}/avatar.jpg" }}">
                                </div>
                                <div class="content">
                                    <a href="{{ path('person_show', {'id': person.id}) }}"
                                       class="center aligned header">{{ person.title }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="ui fluid card">
                        <div class="ui warning message">
                            <div class="header">No Records</div>
                            <ul class="list">
                                <li>No Members found , you can add members by
                                    <a href="{{ path('group_edit', {'id': grouping.id}) }}">
                                        editing this group
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>