{{ form_start(form, { 'attr': {'class': 'ui form'} }) }}
<div class="field">
    <label>{{ form_label(form.icon) }}</label>
    {{ form_widget(form.icon) }}
</div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
