{% extends 'base.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    {{ include('group/partials/banner.html.twig', {
        'title': 'Contact Groups Overview',
        'banner' : default_banner_group,
        'sideLeft' : {
            'url' : false,
            'icon': false,
            'text' : ''
        },
        'sideRight' :{
            'url' : path('group_new'),
            'icon' : 'users plus',
            'text' : 'Setup new group'
        }})
    }}
    <div class="row profile-left">
        <div class="ui four special stackable fluid raised cards">
            {% for group in groupings %}
                <div class="{{ group.color }} card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="{{ path('group_show', {'id': group.id}) }}"
                                       class="ui inverted {{ group.color }} button">View
                                        Group</a>
                                </div>
                            </div>
                        </div>
                        <a class="ui {{ group.color }} left corner label">
                            <i class="{{ group.icon }} icon"></i>
                        </a>
                        <img src="{{ default_group_avatar }}">
                        <div class="ui bottom left attached {{ group.color }} label">{{ group.name }}</div>
                    </div>
                    <div class="content">
                          <span class="right floated">
                            <div class="ui tiny horizontal {{ group.color }} statistic">
                                <div class="value">
                                    {{ group.people.count }}
                                </div>
                                <div class="label">
                                    <i class="{{ group.color }} users icon"></i>
                                </div>
                            </div>
                          </span>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </div>
    </div>
    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui  center aligned header">
                <i class="large icons">
                    <i class="yellow trophy icon"></i>
                    <i class="inverted corner add icon"></i>
                </i>
                Special Groups
            </h2>
        </div>
        <div class="row">
            <div class="ui four special cards">
                {% for special in groupingsSpecial %}
                    <div class="{{ special.color }} card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a href="{{ path('group_show', {'id': special.id}) }}"
                                           class="ui inverted {{ special.color }} button">View
                                            Group</a>
                                    </div>
                                </div>
                            </div>
                            <a class="ui {{ special.color }} left corner label">
                                <i class="{{ special.icon }} icon"></i>
                            </a>
                            <img src="{{ default_group_avatar }}">
                            <div class="ui bottom left attached {{ special.color }} label">{{ special.name }}</div>
                        </div>
                        <div class="content">
                          <span class="right floated">
                            <div class="ui tiny horizontal {{ special.color }} statistic">
                                <div class="value">
                                    {{ special.people.count }}
                                </div>
                                <div class="label">
                                    <i class="{{ special.color }} users icon"></i>
                                </div>
                            </div>
                          </span>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>
    {#<a href="{{ path('group_edit', {'id': group.id}) }}">edit</a>#}
{% endblock %}
