{% extends 'base.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block body %}
    {{ form_start(form, { 'attr': {'class': 'ui form'} }) }}
    {#{{ include('group/_delete_form.html.twig') }}#}
    {{ include('group/partials/banner.html.twig', {
        'title': grouping.name,
        'banner' : default_banner_group,
        'sideLeft' : {
            'url' : path('group_index'),
            'icon' : 'arrow alternate circle left outline',
            'text' : "back to group overview"
        },
        'sideRight' :{
            'url' : false,
            'icon' : false,
            'text' : ''
        }})
    }}
    <div class="ui grid">
        <div class="eight wide column profile-left">
            <div class="ui teal segment">
                <div class="special cards">
                    <div class="ui centered aligned card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a href="{{ default_group_avatar }}" class="ui basic inverted button" data-lity>Enlarge</a>
                                        <a href="#" class="ui basic inverted button">Upload Image</a>
                                    </div>
                                </div>
                            </div>
                            <img class="ui teal bordered tiny image profile-avatar"
                                 src="{{ default_group_avatar }}"
                                 alt="{{ grouping.name }}">
                        </div>
                    </div>
                </div>
                <div class="ui raised fluid teal card">
                    <div class="content">
                        <div class="header">Description</div>
                        <div class="meta">
                            <span class="category">{{ grouping.intro }}</span>
                        </div>
                        <div class="description">
                            <p>{{ grouping.description }}</p>
                        </div>
                    </div>
                    <div class="extra content">
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column profile-right">
            <div class="ui teal segment">
                <div class="ui raised fluid card">
                    <div class="content">
                        <div class="header">Group Information</div>
                        <div class="meta">
                            <span class="category">All about</span>
                        </div>
                        <div class="description">
                            <table class="ui definition table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ form_label(form.name) }}
                                        {% if form_help(form.name) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.name)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.name) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Contacts</td>
                                    <td>{{ grouping.people.count }}</td>
                                </tr>
                                <tr>
                                    <td>Icon & Color</td>
                                    <td>
                                        <div class="ui fluid search selection dropdown icon-dropdown">
                                            <input type="hidden" name="grouping[icon]" value="{{ grouping.icon }}">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select Icon</div>
                                            <div class="menu">
                                                <div class="item" data-value="wheelchair">
                                                    <i class="wheelchair icon"></i> Wheelchair
                                                </div>
                                                <div class="item" data-value="universal access">
                                                    <i class="universal access icon"></i> Universal Access
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui fluid search selection dropdown icon-dropdown">
                                            <input type="hidden" name="grouping[color]" value="{{ grouping.color }}">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select Icon</div>
                                            <div class="menu">
                                                <div class="item" data-value="red">
                                                    <i class="red paint brush icon"></i> Red
                                                </div>
                                                <div class="item" data-value="green">
                                                    <i class="green paint brush  icon"></i> Green
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Special</td>
                                    {% if grouping.special %}
                                        <td>Yes</td>
                                    {% else %}
                                        <td>No</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Members</td>
                                    <td>
                                        <div class="ui fluid multiple search selection dropdown">
                                            <input type="hidden" name="grouping[persons]" value="{{ personsInGrouping }}">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select Country</div>
                                            <div class="menu">
                                                {% for person in persons %}
                                                    <div class="item" data-value="{{ person.id }}">
                                                        <i class="af flag"></i> {{ person.firstName }} {{ person.middleName }} {{ person.lastName }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('group/partials/grouping-contacts.html.twig', {
            'title': "Current Members of #{grouping.name}",
            'persons': grouping.people.values
        }) }}
    </div>
    {{ form_end(form) }}
    <script>
        $('.icon-dropdown').dropdown('set selected', {{ grouping.icon }});
    </script>
{% endblock %}
