{% extends 'base.html.twig' %}
{% trans_default_domain 'group' %}
{% block title %}{% trans %}Group{% endtrans %} {{ grouping.name }}{% endblock %}

{% block body %}
    {{ include('group/partials/banner.html.twig', {
        'title': grouping.name,
        'banner' : default_banner_group,
        'sideLeft' : {
            'url' : path('group_index'),
            'icon' : 'arrow alternate circle left outline',
            'text' : "back to group overview"
        },
        'sideRight' :{
            'url' : path('group_edit', {'id': grouping.id}) ,
            'icon' : 'edit',
            'text' : 'edit'
        }})
    }}
    <div class="ui grid">
        <div class="eight wide column profile-left">
            <div class="ui {{ grouping.color }} segment">
                <div class="special cards">
                    <div class="ui centered aligned card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a href="{{ default_group_avatar }}" class="ui inverted {{ grouping.color }} button" data-lity>
                                            {% trans %}Enlarge{% endtrans %}
                                        </a>
                                        <a href="#" class="ui inverted {{ grouping.color }} button">
                                            {% trans %}Upload Image{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img class="ui {{ grouping.color }} bordered tiny image profile-avatar"
                                 src="{{ default_group_avatar }}"
                                 alt="{{ grouping.name }}">
                        </div>
                    </div>
                </div>
                <div class="ui raised fluid {{ grouping.color }} card">
                    <div class="content">
                        <div class="header">{% trans %}Description{% endtrans %}</div>
                        <div class="meta">
                            <span class="category">{{ grouping.intro }}</span>
                        </div>
                        <div class="description">
                            <p>{{ grouping.description }}</p>
                        </div>
                    </div>
                    <div class="extra content">
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column profile-right">
            <div class="ui {{ grouping.color }} segment">
                <div class="ui raised fluid card">
                    <div class="content">
                        <div class="header">{% trans %}Group Information{% endtrans %}</div>
                        <div class="meta">
                            <span class="category">{% trans %}All about{% endtrans %}</span>
                        </div>
                        <div class="description">
                            <table class="ui definition table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>{% trans %}Information{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{% trans %}Name{% endtrans %}</td>
                                    <td>{{ grouping.name }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Contacts{% endtrans %}</td>
                                    <td>{{ grouping.people.count }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Icon{% endtrans %}</td>
                                    <td><i class="large {{ grouping.color }} {{ grouping.icon }} icon"></i></td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Special{% endtrans %}</td>
                                    {% if grouping.special %}
                                        <td>{% trans %}Yes{% endtrans %}</td>
                                    {% else %}
                                        <td>{% trans %}No{% endtrans %}</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('group/partials/grouping-contacts.html.twig', {
            'title': "Members of #{grouping.name}",
            'persons': grouping.people.values,
        }) }}
    </div>
{% endblock %}
