{% extends 'base.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <div class="animated-header">
        <div class="sides">
            {#<a href="{{ path('person_show', {'id': person.id}) }}" class="ui left floated teal button">#}
            {#<i class="arrow alternate circle left outline icon"></i>#}
            {#back to profile#}
            {#</a>#}
        </div>
        <div class="sides">
            <a href="{{ path('group_new') }}" class="ui right floated teal button">
                <i class="users plus icon"></i>
                Setup new group
            </a>
        </div>
        <div class="info">
            <h4><i class="bordered teal address card icon"></i></h4>
            <h1>
                Contact Groups Overview
            </h1>
            <div class="meta">
            </div>
        </div>
    </div>
    <div class="row profile-left">
        <div class="ui four special stackable fluid raised cards">
            {% for group in groupings %}
                <div class="{{ group.color }} card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="{{ path('group_show', {'id': group.id}) }}"
                                       class="ui inverted {{ group.color }} button">View
                                        Group</a>
                                </div>
                            </div>
                        </div>
                        <a class="ui {{ group.color }} left corner label">
                            <i class="{{ group.icon }} icon"></i>
                        </a>
                        <img src="{{ default_group_avatar }}">
                        <div class="ui bottom left attached {{ group.color }} label">{{ group.name }}</div>
                    </div>
                    <div class="content">
                          <span class="right floated">
                            <div class="ui tiny horizontal {{ group.color }} statistic">
                                <div class="value">
                                    {{ group.people.count }}
                                </div>
                                <div class="label">
                                    <i class="{{ group.color }} users icon"></i>
                                </div>
                            </div>
                          </span>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
