<div class="ui horizontal segments">
    <div class="ui segment">
        <div class="ui special cards">
            <div class="brown raised fluid card">
                <div class="content">
                    <div class="right floated meta">{{ person.birthday|date('d-m-Y') }}</div>
                    {{ person.titleName }}
                </div>
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <a href="{{ "/build/images/persons/#{person.slug}/avatar.jpg" }}"
                                   class="ui animated basic inverted  button" tabindex="0" data-lity
                                   data-lity-desc="Photo of a flower">
                                    <div class="visible content">{% trans %} Enlarge {% endtrans %}</div>
                                    <div class="hidden content">
                                        <i class="zoom-in icon"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img src="{{ "/build/images/persons/#{person.slug}/avatar.jpg" }}">
                </div>
                <div class="content">
                    <div class="header">Bio</div>
                    <div class="meta">About {{ person.titleName }}.</div>
                    <div class="description">
                        {{ person.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui brown raised fluid card">
            <div class="content">
                <div class="header">Information</div>
                <div class="meta">Personal information</div>
                <div class="ui fluid list">
                    <div class="item">
                        <i class="id card outline icon"></i>
                        <div class="content">
                            <div class="header">{{ person.title }}</div>
                            <div class="description">{{ person.fullName }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="phone icon"></i>
                        <div class="content">
                            <div class="header">Phone Number</div>
                            <div class="description">{{ person.phoneNumber }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="envelope open outline icon"></i>
                        <div class="content">
                            <div class="header">E-mail</div>
                            <div class="description">{{ person.email }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="envelope open outline icon"></i>
                        <div class="content">
                            <div class="header">Address</div>
                            <div class="description">{{ person.address }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui brown raised fluid card">
            <div class="content">
                <div class="header">Social-Media</div>
                <div class="meta">External accounts</div>
                <div class="ui relaxed fluid list">
                    {% if person.facebook %}
                        <a class="item" href="https://www.facebook.com/{{ person.facebook }}" target="_blank"
                           rel="nofollow">
                            <i class="facebook icon"></i>
                            Facebook profile
                        </a>
                    {% endif %}
                    {% if person.instagram %}
                        <a class="item" href="https://instagram.com/{{ person.instagram }}" target="_blank"
                           rel="nofollow">
                            <i class="instagram icon"></i>
                            Instagram profile
                        </a>
                    {% endif %}
                    {% if person.googleplus %}
                        <a class="item" href="https://plus.google.com/{{ person.googleplus }}"
                           target="_blank" rel="nofollow">
                            <i class="google plus g icon"></i>
                            Google Plus profile
                        </a>
                    {% endif %}
                    {% if person.twitter %}
                        <a class="item" href="https://twitter.com/{{ person.twitter }}" target="_blank"
                           rel="nofollow">
                            <i class="twitter icon"></i>
                            Twitter profile
                        </a>
                    {% endif %}
                    {% if person.snapchat %}
                        <a class="item" href="https://snapchat/{{ person.snapchat }}" target="_blank"
                           rel="nofollow">
                            <i class="snapchat icon"></i>
                            Snapchat profile
                        </a>
                    {% endif %}
                    {% if person.pinterest %}
                        <a class="item" href="https://snapchat/{{ person.pinterest }}" target="_blank"
                           rel="nofollow">
                            <i class="pinterest icon"></i>
                            Pinterest board
                        </a>
                    {% endif %}
                    {% if person.linkedin %}
                        <a class="item" href="https://snapchat/{{ person.linkedin }}" target="_blank"
                           rel="nofollow">
                            <i class="linkedin icon"></i>
                            Linkedin C.V
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui brown raised fluid card">
            <div class="content">
                <div class="header">Group(s)</div>
                <div class="meta">{{ person.titleName }}'s association.</div>
                <div class="ui fluid list">
                    {% for group in person.groupings %}
                        <div class="item">
                            <i class="{{ group.color }} {{ group.icon }} icon"></i>
                            <div class="content">
                                <div class="header">{{ group.name }}</div>
                                <div class="description">{{ group.description|slice(0, 50) }}...</div>
                            </div>
                        </div>
                    {% else %}
                        <div class="ui visible brown message">
                            <p>{{ person.titleName }} is currently not associated with any group.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui horizontal segments">
    <div class="brown segment">
        <div class="ui animated fade right floated btn-third button" tabindex="0">
            <div class="visible content">Edit {{ person.titleName }} Profile</div>
            <div class="hidden content">
                Open profile editor
            </div>
        </div>
        <div class="ui animated right floated btn-primary button" tabindex="0" >
            <div class="visible content" data-lity-close>Close {{ person.titleName }} Profile</div>
            <div class="hidden content" data-lity-close>
                <i class="left arrow icon"></i>
            </div>
        </div>
        <div class="ui animated fade left floated btn-third button" tabindex="0">
            <div class="visible content">Create new contact</div>
            <div class="hidden content">
                Open profile creator
            </div>
        </div>
    </div>
</div>

