{% extends 'base.html.twig' %}

{% block title %}Edit Person{% endblock %}

{% block body %}
    {{ form_start(form, { 'attr': {'class': 'ui form'} }) }}
    <div class="animated-header">
        <div class="sides">
            <a href="{{ path('person_show', {'id': person.id}) }}" class="ui left floated teal button">
                <i class="arrow alternate circle left outline icon"></i>
                back to profile
            </a>
        </div>
        <div class="sides">
            {{ form_label(form.save) }}
        </div>
        <div class="info">
            <h4><i class="bordered teal address card icon"></i></h4>
            <h1>
                Edit {{ person.title }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }}'s Personal
                information
            </h1>
            <div class="meta">
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="eight wide column profile-left">
            <div class="ui teal segment">
                <div class="ui centered aligned card">
                    <div class="image">
                        <img class="ui teal bordered tiny image profile-avatar" src="{{ default_contact_avatar }}">
                    </div>
                    <div class="content">
                        <p class="centered aligned header">{{ person.title }} {{ person.lastName }}</p>
                    </div>
                </div>
                <div class="ui raised fluid teal card">
                    <div class="content">
                        <div class="header">
                            {{ form_label(form.description) }}
                            {% if form_help(form.description) %}
                                <i class="small circular help icon link"
                                   data-content="{{ form_help(form.description)|striptags }}" data-variation="wide"
                                   data-position="right center"></i>
                            {% endif %}
                        </div>
                        <div class="meta">
                            <span class="category"></span>
                        </div>
                        <div class="description">
                            <div class="field">
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column profile-right">
            <div class="ui teal segment">
                <div class="ui raised fluid card">
                    <div class="content">
                        <div class="header">Personal Information</div>
                        <div class="meta">
                            <span class="category">All about</span>
                        </div>
                        <div class="description">
                            <table class="ui definition table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ form_label(form.title) }}
                                        {% if form_help(form.title) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.title)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.title) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.firstName) }}
                                        {% if form_help(form.firstName) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.firstName)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.firstName) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.middleName) }}
                                        {% if form_help(form.middleName) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.middleName)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.middleName) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.lastName) }}
                                        {% if form_help(form.lastName) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.lastName)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.lastName) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.gender) }}
                                        {% if form_help(form.gender) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.gender)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.gender) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.address) }}
                                        {% if form_help(form.address) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.address)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.address) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.birthday) }}
                                        {% if form_help(form.birthday) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.birthday)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.birthday) }}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="extra content">
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column profile-right">
            <div class="ui teal segment">
                <div class="ui raised fluid card">
                    <div class="content">
                        <div class="header">Connectivity</div>
                        <div class="meta">
                            <span class="category">Phone, Socials, Mail ect</span>
                        </div>
                        <div class="description">
                            <table class="ui definition table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ form_label(form.phoneNumber) }}
                                        {% if form_help(form.phoneNumber) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.phoneNumber)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.phoneNumber) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.email) }}
                                        {% if form_help(form.email) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.email)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.email) }}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="extra content">
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column profile-right">
            <div class="ui teal segment">
                <div class="ui raised fluid card">
                    <div class="content">
                        <div class="header">Social-Media</div>
                        <div class="meta">
                            <span class="category">Facebook, Twitter, Instagram ect</span>
                        </div>
                        <div class="description">
                            <table class="ui definition table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ form_label(form.facebook) }}
                                        {% if form_help(form.facebook) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.facebook)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.facebook) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.twitter) }}
                                        {% if form_help(form.twitter) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.twitter)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.twitter) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.instagram) }}
                                        {% if form_help(form.instagram) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.instagram)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.instagram) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.googleplus) }}
                                        {% if form_help(form.googleplus) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.googleplus)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.googleplus) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.snapchat) }}
                                        {% if form_help(form.snapchat) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.snapchat)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.snapchat) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.pinterest) }}
                                        {% if form_help(form.pinterest) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.pinterest)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.pinterest) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.linkedin) }}
                                        {% if form_help(form.linkedin) %}
                                            <i class="small circular help icon link"
                                               data-content="{{ form_help(form.linkedin)|striptags }}"
                                               data-variation="wide" data-position="right center"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form_widget(form.linkedin) }}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="extra content">
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{ form_end(form) }}


    {#<a href="{{ path('person_index') }}" class="ui right floated teal button">#}
    {#<i class="arrow alternate circle left outline icon"></i>#}
    {#back to list#}
    {#</a>#}
    {#<h1>#}
    {#<i class="bordered teal address card icon"></i>#}
    {#Edit {{ person.firstName }} {{ person.middleName }} {{ person.lastName }}'s Personal information#}
    {#</h1>#}
    {#{{ include('person/_form.html.twig', {'button_label': 'Update'}) }}#}



{% endblock %}
