{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <a href="{{ path('person_new') }}" class="ui right floated teal button">
        <i class="user plus icon"></i>
        Create new
    </a>
    <h1>
        <i class="bordered teal address card icon"></i>
        All Contacts
    </h1>
    <div class="ui two wide">
        <a href="{{ path('person_index', {'view': 'index'}) }}" class="ui icon button">
            <i class="address card outline icon"></i>
        </a>
        <a href="{{ path('person_index', {'view': 'index-list'}) }}"  class="ui icon teal button">
            <i class="list icon"></i>
        </a>
    </div>

    <table class="ui celled padded table">
        <thead>
        <tr>
            <th class="single line">Id</th>
            <th>Avatar</th>
            <th>FirstName</th>
            <th>MiddleName & LastName</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>
                    <h2 class="ui center aligned header">{{ person.id }}</h2>
                </td>
                <td>
                    <img class="ui tiny bordered image" src="{{ default_contact_avatar }}">
                </td>
                <td class="single line">{{ person.firstName }}</td>
                <td class="right aligned">
                    {{ person.middleName }}<br>
                    {{ person.lastName }}
                </td>
                <td>{{ person.description }}</td>
                <td>
                    <div class="ui buttons">
                        <a href="{{ path('person_show', {'id': person.id}) }}" class="ui button">show</a>
                        <div class="or" data-text="or"></div>
                        <a href="{{ path('person_edit', {'id': person.id}) }}" class="ui positive button">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr><th colspan="5">
                <div class="ui right floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr></tfoot>
    </table>
{% endblock %}
