{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block banner %}
    {{ include('partials/banner.html.twig', {
        'title': 'Contacts Overview',
        'banner' : default_banner_group,
        'sideLeft' : {
            'url' : false,
            'icon': false,
            'text' : ''
        },
        'sideRight' :{
            'url' : path('person_new'),
            'icon' : 'user plus',
            'text' : 'Add new Contact'
        }}) }}
{% endblock %}

{% block body %}

    <div class="fluid-container">
        <div class="ui five column grid">
            {% for person in people %}
                <div class="column">
                    <div id="person-cards" class="ui special scale cards">
                        <div class="ui border-primary special raised fluid card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="{{ "/build/images/persons/#{person.slug}/avatar.jpg" }}"
                                               class="ui animated basic inverted  button" tabindex="0" data-lity
                                               data-lity-desc="Photo of a flower">
                                                <div class="visible content">{% trans %} Avatar {% endtrans %}</div>
                                                <div class="hidden content">
                                                    <i class="zoom-in icon"></i>
                                                </div>
                                            </a>
                                            <a href="#{{ person.id }}-view" data-lity
                                               class="ui animated basic inverted  button" tabindex="0">
                                                <div class="visible content">{% trans %} View {% endtrans %}</div>
                                                <div class="hidden content">
                                                    <i class="right arrow icon"></i>
                                                </div>
                                            </a>
                                            <a href="#{{ person.id }}-edit" data-lity
                                               class="ui animated basic inverted  button" tabindex="0">
                                                <div class="visible content">{% trans %} Edit {% endtrans %}</div>
                                                <div class="hidden content">
                                                    <i class="edit icon"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <img src="{{ "/build/images/persons/#{person.slug}/avatar.jpg" }}">
                            </div>
                            <div class="ui btn-primary bottom right attached label">{{ person.fullName }}</div>
                        </div>
                    </div>
                </div>
                <div id="{{ person.id }}-view" class="lity-hide lity-modal">
                    {{ include('person/partials/view.html.twig') }}
                </div>
                <div id="{{ person.id }}-edit" style="background:#fff" class="lity-hide">
                    {{ person.fullName }}
                </div>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </div>
        {{ include('partials/pagination.html.twig', {'url': 'person_index'}) }}
    </div>
{% endblock %}
