<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {{ include('partials/off-canvas/sidebar.html.twig') }}
    {{ include('partials/off-canvas/search.html.twig') }}
    <div class="pusher">
        {{ include('partials/navigation.html.twig') }}
        {% block banner %}{% endblock %}
        <div class="ui container main-container">
            <div class="ui twelve wide column">
                <div class="ui segments main-segment">
                    <div class="ui segment">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {{ include('partials/floating-menu.html.twig') }}
    </div>


    {#{%  if form is not defined %}#}
    {#<div class="ui segment" id="example1">#}
        {#<div class="right ui rail" style="">#}
            {#<div class="ui sticky" style="width: 272px !important; height: 262.683px !important; left: 1358px;">#}
                {#{{ dump(form_errors(form.icon)) }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#{% endif %}#}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
